
       /*intro animation*/
.l{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.l .s{
    width:20px;
    height:20px;
    border-radius:50%;
    margin:10px;
    display: inline-block;
    background-color:#6C63FF;
    transform: scale(0.2);
    animation: anim 1.2s infinite;
}
.s:nth-child(2){ animation-delay: 0.2s;}
.s:nth-child(3){ animation-delay: 0.4s;}
.s:nth-child(4){ animation-delay: 0.8s;}
.s:nth-child(5){ animation-delay: 1.2s;}
@keyframes anim{
    0%,100%{
        transform: scale(0.2);
    }
    50%{
        transform: scale(1);
    }
}
#hideMe {
    -webkit-animation: cssAnimation 4s forwards; /*bubble loading time*/
    animation: cssAnimation 4s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
#showMe{
    -webkit-animation: cssAni 5s forwards; 
    animation: cssAni 5s forwards;
}
@keyframes cssAni {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes cssAni{
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}

