@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
    --container-bg: #1f2630;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Jetbrains',monospace;
    scroll-behavior: smooth;
}
body{
    background-color: #010E1B;
    color:#fff;
}
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.main{
    display: flex;
    flex-direction:column;
}
.section {
    padding: 5rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
nav {
    background: #010E1B;
    box-shadow: 0 5px 15px #807BE4;
    font-size: 20px;
  }
.sections a {
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    margin: 15px;
    text-decoration: none;
  }
.sections a:hover {
    transition: all 0.3s linear;
    color: #60F6D3;
    padding-left: 1.5rem;
}
.sections a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FF401A;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.sections a:hover::before {
  transform: scaleX(1);
}
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: hsl(205, 86%, 17%);
    transform: rotate(90deg);
  }
  .logo {
    height: 40px;
  }
  .sections {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  .show-links {
    height: 12rem;
  }
  ul {
    list-style-type: none;
  }
  .social-icons {
    display: none;
  }
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:25px;
}
.img1{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:10px;
}
.img11:hover{
  border:5px solid greenyellow;
  box-shadow:greenyellow 0px 20px 30px -10px;
  transition: all 0.5s ease;
}
.img11{
    height:250px;
    width:250px;
    border-radius: 50%;
    border:3px solid  #73CFF0;
    box-shadow: #73CFF0 0px 20px 30px -10px;
    transition: all 0.5s ease;
}
.skills{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:20px;
    width:100%;
    margin-top:45px;
    margin-bottom: 45px;
}
.mys{
  margin-top:40px;
  padding:10px;
  width:50%;
  text-align: center;
  border-radius: 0 20px 20px 0;
  background-color: #FF401A;
  font-size: 22px;
  color:white;
  font-weight: 500;
  transition: all 0.5s ease;
}
.mys:hover{
  transition: all 0.5s ease;
  box-shadow:0 5px 25px RGB(251, 183, 65);
}
.sk{
    margin:25px;
    padding:10px;
    background: #fff;
    color:black;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    padding-top: 3rem;
    position: relative;
    transform-origin: top center;
    --rotate: 10deg;
    transform: rotateZ(var(--rotate));
    transition: transform 0.2s;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
.sk:hover {
    transform: rotateZ(-20deg);
}
.sk:before,
.sk:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #5c0dac;
    border: 1px solid #000;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    top: 15px;
    right: 20px;
    position: absolute;
    border-radius: 50%;
}
.sk:before {
    right: auto;
    left: 20px;
}
.sk img {
    height: 80px;
    width: 100%;
    object-fit: contain;
}
.interests{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  padding:15px;
  width:100%;
  margin-top:45px;
  margin-bottom: 45px;
}
.int{
  margin:15px;
  padding:10px;
  background: #09203A;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 0.5s ease;
}
.int:hover{
  transform: scale(1.1);
  background-color: #15467d;
  transition: all 0.5s ease;
}
.edu{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  margin-top: 50px;
}
.myedu{
  width:50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: black;
  color:#5CEBCA;
  font-weight: 600;
  font-size:23px;
  line-height: 33px;
  clip-path: polygon(80% 0, 100% 50%, 83% 100%, 0 100%, 0 0);
}
.sub{
  margin:15px;
  padding:15px;
}
.clg{
  height: 100%;
  width:50%;
}
.name{
  display: inline-block;
  margin:7px;
  padding:5px;
  border: 3px solid #FF401A;
  transition: all 0.3s ease;
  letter-spacing: 2px;
  color:white;
}
.nav-header>a{
  text-decoration: none;
}
.name:hover{
  background-color: #FF401A;
  transition: all 0.3s ease;
}
.nav-header>a>span{
  color:white;
}
.coding{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding:35px;
    margin-bottom:50px;
}
.code{
    padding: 30px;
    box-shadow:0px 6px 25px rgba(3, 227, 70, 0.4);
    background-image: linear-gradient(60deg,rgb(9, 254, 9),white);
}
.mywork{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
  margin-top:25px;
}
.card{
width:40%;
height:auto;
box-shadow: 0px 6px 20px rgba(0,0,0,0.4);
transition : 0.3s ease-in-out;
margin-bottom: 20px;
border-radius: 10px;
background-color: #09203A;
}
.img2{
  width:100%;
  border-radius: 10px 10px 0px 0px;
}
.ptext{
  margin:15px;
  padding:10px; 
  text-align: center;
}
.plink{
  margin: 15px auto 15px auto;
  padding:17px;
  width:100%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px  20px rgba(69, 65, 190, 0.7);
  border: none;
  outline: none;
  transition: all 0.3s ease 0s;
  visibility : hidden;
opacity : 0;
background-color: white;
}
.card:hover .plink{
  visibility : visible;
  opacity : 1;
  transition-delay: 0.2s;
}
.plink:hover{
  transform:translateY(-7px);
}
.links{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.underline {
  height: 0.25rem;
  width: 5rem;
  background: hsl(205, 78%, 60%);
  margin-left: auto;
  margin-right: auto;
}