@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
    --container-bg: #1f2630;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Jetbrains',monospace;
    scroll-behavior: smooth;
}
body{
    background-color: hsl(210, 36%, 96%);
}
.main{
    display: flex;
    flex-direction:column;
}
.section {
    padding: 5rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
nav {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
.sections a {
    color: hsl(209, 34%, 30%);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
  }
  .sections a:hover {
    background: hsl(205, 86%, 81%);
    color: hsl(205, 78%, 60%);
    padding-left: 1.5rem;
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: hsl(205, 86%, 17%);
    transform: rotate(90deg);
  }
  .logo {
    height: 40px;
  }
  .sections {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  .show-links {
    height: 12rem;
  }
  ul {
    list-style-type: none;
  }
  .social-icons {
    display: none;
  }
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:135px;
}
.about{
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top:25px;
}
.introd{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    width:60%;
    height: 100%;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    box-shadow: 0px 6px 20px rgba(69, 65, 190, 0.7);
    border-radius: 15px;
    padding:25px;
    line-height: 45px;
    font-size: 23px;
    font-weight: 600;
}
.img1{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
.img11{
    height:500px;
    width:340px;
    border-radius: 15px;
}
.skills{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:20px;
    width:100%;
}
.mys{
    text-align: center;
    margin-top:20px;
    text-decoration: underline;
    font-size: 24px;
    color:#b06ab3;
    font-weight: 700;
}
.sk{
    margin:25px;
    padding:10px;
    background: #fff;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    padding-top: 3rem;
    position: relative;
    transform-origin: top center;
    --rotate: 10deg;
    transform: rotateZ(var(--rotate));
    transition: transform 0.2s;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
.sk:hover {
    transform: rotateZ(-20deg);
}
.sk:before,
.sk:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #5c0dac;
    border: 1px solid #000;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    top: 15px;
    right: 20px;
    position: absolute;
    border-radius: 50%;
}
.sk:before {
    right: auto;
    left: 20px;
}
.sk img {
    height: 80px;
    width: 100%;
    object-fit: contain;
}
.mywork{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width:100%;
      margin-top:25px;
}
.card{
    width:40%;
    height:auto;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.4);
    transition : 0.3s ease-in-out;
    margin-bottom: 20px;
}
.img2{
    width:100%;
}
.ptext{
    margin:15px;
    padding:10px; 
    text-align: center;
}
.plink{
    margin: 15px auto 15px auto;
    padding:17px;
    width:100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px  20px rgba(69, 65, 190, 0.7);
    border: none;
    outline: none;
    transition: all 0.3s ease 0s;
    visibility : hidden;
  opacity : 0;
  background-color: white;
}
.card:hover .plink{
    visibility : visible;
    opacity : 1;
    transition-delay: 0.2s;
}
.plink:hover{
    transform:translateY(-7px);
}
.links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.underline {
    height: 0.25rem;
    width: 5rem;
    background: hsl(205, 78%, 60%);
    margin-left: auto;
    margin-right: auto;
  }
  .prev-btn,
.next-btn {
  color: #5f56ff;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: hsl(205, 78%, 60%);
}
a{
    text-decoration: none;
}
.blogs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}
.edu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1250px;
}
.myedu{
    width:50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(220, 206, 206, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(220, 206, 206, 0.29);
    color:white;
    font-weight: 500;
    font-size:19px;
    line-height: 30px;
}
.myp{
    margin:15px;
    border-radius: 50%;
}
.something{
    margin:15px;
    padding:15px;
    line-height: 35px;
}
.coding{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding:35px;
    margin-bottom:50px;
}
.code{
    padding: 30px;
    box-shadow:0px 6px 25px rgba(3, 227, 70, 0.4);
    background-image: linear-gradient(60deg,rgb(9, 254, 9),white);
}
.star1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(45deg,orange,white);
    width:100%;
}
.connect{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding:20px;
    width:50%;
}
.connect1{
    flex-direction: row;
    padding:10px;
    margin:5px;
}
.connect2{
    flex-direction: row;
    padding: 10px;
}