*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.type{
	font-size: 16px;
	margin: 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	min-height: 16vh;
	margin-top:35px;
}
.text-box{
	font-size: 80px;
	font-weight: 900;
	text-align: center;
	width:100%;
	margin-top:0px;
}
.fixed-text{
	display: inline-block;
}
.animate-text{
	display: inline-block;
	vertical-align: top;
	height: 100px;
	overflow: hidden;
}
.animate-text div{
	animation:9s wordChange;
	animation-iteration-count: infinite;
	animation-timing-function: steps(1);
}
.animate-text span{
	position: relative;
	color:#5CEBCA;
	display: block;
	text-align: left;

}
.animate-text span:after{
	content: "";
	position: absolute;
	left: 0;
	border-left: 5px solid #60F6D3;
	height: 100%;
	animation:3s textType;
	animation-iteration-count: infinite;
	animation-timing-function: steps(10);
	animation-fill-mode: backwards;
	right: -2px;
	background-color: #010E1B;
	overflow: hidden;
}

@keyframes textType{
	0%{
		left: 0;
	}
	50%{
		left: 100%;
	}
	100%{
		left: 0;
	}
}
@keyframes wordChange{
	0%{
		margin-top: 0;
	}
	33.333%{
		margin-top: -91px;
	}
	66.666%{
		margin-top: -181px;
	}
	100%{
		margin-top: 0;
	}
}

