.header .icon {
    display: none;
  }






@media screen and (max-width: 970px) {
    .header a:not(:first-child) {display: none;}
    .header a.icon {
      float: right;
      display: block;
    }
  }
  




  @media screen and (max-width: 970px) {
    .header.responsive {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .header.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .header.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }





  @media screen and (max-width:700px){
    .about{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .introd{
        width:70%;
        margin:20px;
    }
    .img1{
        width:70%;
        margin:10px;
    }
    .myedu{
        width:90%;
    }
    .coding{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .code{
      margin-top:25px;
    }
  }







  @media screen and (max-width:650px){
    .mywork{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width:60%;
        margin-top:25px;
    }
  }








  @media screen and (max-width:1030px){
    .skills{
      flex-direction: column;
    }
    .skills1,.skills2{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  }



  @media screen and (max-width:700px){
    .skills{
      flex-direction: column;
    }
    .skills1,.skills2{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }
  }



  @media screen and (max-width:430px){
    .fixed-text{
      font-size:20px;
    }
    .type{
      min-height: 13vh;
    }
  }

  @media screen and (max-width:550px){
    .star1{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .connect1, .connect2{
      display: flex;
      flex-direction: column;
    }
  }