  @media screen and (min-width: 800px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    .sections {
      height: auto;
      display: flex;
    }
    .sections a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .sections a:hover {
      padding: 0;
      background: transparent;
    }
    .social-icons {
      display: flex;
    }
    .social-icons a {
      margin: 0 0.5rem;
      color: hsl(205, 78%, 60%);
      transition: all 0.3s linear;
    }
    .social-icons a:hover {
      color: hsl(205, 90%, 76%);
    }
  }



  @media screen and (max-width:700px){
    .coding{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .code{
      margin-top:25px;
    }
  }


@media screen and (max-width:900px){
  .edu{
    flex-direction: column-reverse;
    height: 800px;
  }
  .clg{
    width: 100%;
  }
}
@media screen and (max-width:700px){
  .myedu{
    width:65%;
  }
}


  @media screen and (max-width:390px){
    .animate-text {
      font-size: 74px;
    }
  }